[Unit]
Description=Mercure - Server-sent live updates
After=network.target

[Service]
Environment=XDG_DATA_HOME=/var/lib/mercure
Environment=XDG_CONFIG_HOME=/var/lib/mercure
ExecStart=/usr/bin/mercure run --config /etc/mercure/Caddyfile
ExecReload=/usr/bin/mercure reload --config /etc/mercure/Caddyfil
StandardOutput=append:/var/log/mercure/mercure.log
StandardError=append:/var/log/mercure/mercure.log
User=mercure
Group=mercure
RuntimeDirectory=mercure

[Install]
WantedBy=multi-user.target
