[Unit]
Description=Metricbeat Service
After=network.target

[Service]
Restart=always
RemainAfterExit=yes
WorkingDirectory=/var/log/metricbeat
ExecStart=/usr/bin/metricbeat -c /etc/metricbeat/metricbeat.yml -path.config /etc/metricbeat -path.data /var/lib/metricbeat -path.home /var/lib/metricbeat -path.logs /var/log/metricbeat

[Install]
WantedBy=multi-user.target
