[Unit]
Description=PM2 next gen process manager for Node.js
Documentation=https://pm2.keymetrics.io/
After=network.target

[Service]
Type=forking
Environment=PM2_HOME=%h/.pm2
PIDFile=%h/.pm2/pm2.pid

ExecStart=/usr/bin/pm2 resurrect
ExecReload=/usr/bin/pm2 reload all

ExecStop=/usr/bin/pm2 dump
ExecStop=/usr/bin/pm2 delete all
ExecStop=/usr/bin/pm2 kill

[Install]
WantedBy=default.target
